<!DOCTYPE html>
<html>
  <head>
    <title>Budget-App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'wind', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% if signed_in? %>
        <%= render "shared/header" %>
      <%end%>
    </header>
    <main class="container mx-auto flex flex-col">
      <% if notice.present? %>
        <div class="flex justify-center items-center bg-green-100 p-5 w-full  rounded">
          <p class="leading-tight text-sm text-green-700 font-medium" ><%= notice%></p>
        </div>
      <% elsif alert.present? %>
        <div class="flex justify-center items-center bg-red-100 p-5 w-full rounded">
          <p class="leading-tight text-sm text-red-700 font-medium" ><%= alert%></p>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>